.maindiv{
    width:364px;
    margin:0 auto;
    text-align:center;
}

#hanger{
    text-align:right;
    width:260px;
    margin:28px 0;
    position:relative;
}

#man{
    text-align:center;
    width:100px;
    position:absolute;
    left:38%;
    top:8%;
}

#man>p{
    margin:0;
    padding:0;
    height:16px;
}

#forword{
    text-align:center;
    width:100%;
    font-size:24px;
}

#letters{
width:100%;
}

.abcs{
    display:inline-block;
    width:36px;
    height:36px;
    margin:2px;
    font-size: 16px;
    font-weight:bold;
    line-height:36px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
    background-color: #428bca;
}
.abcs:hover{
    background-color: #3071a9;
    border-color: #285e8e;
}

.missing{
    color:red;
}

#new input{
    width:140px;
    font-weight:bold;
    margin-top:12px;
    background-color: #cacaca;
}
#new input:hover{
    background-color: #afafaf;
}