html, body, div, span, iframe, object, noscript,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, cite, img, small, strong, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, nav, output, ruby, section,
mark, audio, video{
	margin:0;
	padding:0;
	box-sizing:border-box}

body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	background-color: #fefefe;
}

.container{
	max-width:1170px;
	min-width:960px;
	margin:0 auto;
}

.name, .rules, .buttons, .score, .field{
	float:left;
	width:19%
}

.field{
	text-align:center;
	min-height:170px;
	width:32%;
	background: #75d147;
	margin:3px;
	border-radius:90px;
	}

.field img{
	display: none;
	height:164px;
	}

.menu{
	background: #e3e3e3;
	height:48px;
	line-height:48px;
	border-radius:0 0 10px 10px;
	margin-bottom:10px;
	padding:0 18px;
	font-size:20px;
}

h1{
	font-size: 32px;
	font-weight:normal;
	text-align:center;
}

.score{
	width:24%;
	}

.rules{
	cursor:pointer;
	vertical-align:middle;
	position:relative;
}

.rules ul{
	display:none;
	font-size:16px;
	position:absolute;
	top:48px;
	width:300px;
	background: #ffff66;
	color:#996600;
	z-index:3;
	border-radius:0 0 10px 10px;
	padding:0 0 0 24px;
}

.rules:hover>ul{
	display:block;
}

.buttons{
	text-align:right;
	width:32%;
}

.btn{
	background: #fff;
	border: 1px solid #ccc;
	display:inline-block;
	vertical-align: top;
	cursor: pointer;
	text-align:center;
	padding: 6px 8px;
	margin:0 0 0 3%;
	font-size: 18px;
	line-height: 1.6;
	border-radius: 6px;
}
.btn:hover, .btn:active{
	background-color: #e6e6e6;
	border-color: #adadad;
}

#start-stop{
	background:#F0AD4E;
	border-color:#EEA236;
	color:#fff;
}
#start-stop:hover{
	background-color: #ec971f;
	border-color: #d58512;
}
